@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  background: black;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(../IMG/manga-anime.jpg);
  overflow: hidden;
}

.container{
  position: relative;
  width: 350px;
  height: 500px;
  background: black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 32px;
  overflow: hidden;
}

.container::before{
  content: "";
  position: absolute;
  height: 650px;
  width: 650px;
  background: conic-gradient(
transparent,transparent,transparent, #A300FF
 );
animation: animate 4s linear infinite;
 animation-delay: -2s;
}

.container::after{
  content: "";
  position: absolute;
  height: 650px;
  width: 650px;
  background: conic-gradient(
transparent,transparent,transparent, #FF8652
 );
animation: animate 4s linear infinite;
 
}

@keyframes animate{ 
0%{
  transform: rotate(0);
}
100%{
  transform: rotate(350deg);
}

}

.image{
  position: absolute;
  inset: 5px;
  background-color: black;
  z-index: 1;
  border-radius: 16px;
}