@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  background: black;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(../IMG/manga-anime.jpg);
  overflow: hidden;
  background-repeat:no-repeat ;
  background-attachment:fixed ;
  background-size:100% 100%;
}

.container{
  position: relative;
  margin-top: 150px;
  width: 350px;
  height: 410px;
  background: black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 32px;
  overflow: hidden;
}

.container::before{
  content: "";
  position: absolute;
  height: 650px;
  width: 650px;
  background: conic-gradient(
transparent,transparent,transparent, #A300FF
 );
animation: animate 4s linear infinite;
 animation-delay: -2s;
}

.container::after{
  content: "";
  position: absolute;
  height: 650px;
  width: 650px;
  background: conic-gradient(
transparent,transparent,transparent, #FF8652
 );
animation: animate 4s linear infinite;
 
}

@keyframes animate{ 
0%{
  transform: rotate(0);
}
100%{
  transform: rotate(350deg);
}

}

.image{
  position: absolute;
  inset: 5px;
  background-color: black;
  background: linear-gradient(180deg, #A300FF 0%, #FF8652 100%);
  z-index: 1;
  border-radius: 16px;
}
.form-box{
display: flex;
justify-content: center;
align-items: center;
min-width: 10vh;
}
.form-box .form h2{
font-size: 32px;
color: white;
text-align: center;
}
.form .input-box{
  position:relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid white;
}
.input-box input{
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 16px;
  padding: 0 35px 0 5px;
  color: white;
  transition: 0.5s;
  z-index: 10;
}
.form .inputBox span
{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.form .inputBox input:valid ~ span,
.form .inputBox input:focus ~ span{
  color: #fff;
  font-size: 0.75em;
  transform: translateY(-34px)
  }
  
.form .inputBox i
{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;  
}
.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i{
  height: 44px;
}


input:focus ~ label,
input:valid ~ label{
  top: -5px;
}

.input-box label {
  position: absolute;
  color: white;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .3s;
}
.group{
  display: flex;
  margin-left:110px;
position: absolute;
margin-top: 8%;
  font-size: 13px;
}
.group a{
  position: relative;
  top: -15px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 1s;
}
.group a:hover{
  color: rgb(0, 17, 255);
  transition: 1s;
}
button{
  height: 40px;
  width: 90px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
}
button:focus{
  color: white;
  background-color: black;
  border: 2px solid white;
}
button:hover{
  opacity: 0.7;
  filter: alpha(opacity=50);
  zoom: 1;
  transition: 0.5s;

}
.imagem{
  border: 0;
  border-radius: 0%;
  height: 100px;
  width: 100px;
  left: 40%;
  position:absolute;
  top: -6%;
  }
  #result {
    margin-top: 10px;
    color: green;
  }
  #error-message {
    color: rgb(255, 255, 255);
  }