*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
}
.box
{
    position: relative;
    width: 380px;
    height: 420px;
   background: #222;
    border-radius: 8px;
}
.box form
{
    position: absolute;
    inset: 4px;
    background: linear-gradient(180deg, #A300FF 0%, #FF8652 100%);
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.box form h2
{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.box form .inputBox
{
    position: relative;
    
}