@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.rodape ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 4;
}
.rodape ul li {
    margin: 0 140px;

}

.rodape{background: linear-gradient(180deg, #FF8652 0%,#A300FF 100%);
    color: white;
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: helvetica;
    position: absolute;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
}
.rodape a{
    text-decoration: none;
    color: white;
}
.rodape p{
    margin-bottom: 5px;
}
.rodape-div{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
    display: flex;
    width: calc(100% / 4 - 20px);
    padding: 10px;
}
.rodape span{
    font-size: 20px;
    color: white;
}
.rodape-direitos{
    width: calc(100% - 20px);
    background-color: black;
    padding: 10px;
    margin: 0px;
    text-align: center;
}
@media (max-width: 768px) {
    .rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
        width: calc(50% - 20px);
        padding: 10px;
    }
    .rodape-div{
        padding: 60px 0px 40px 0px;
    }
}

.Logo{ margin-top: -15px;
    position: absolute;
left: 20px;}
.foto {
    top: 20px;
    position: absolute;
right: 100px;
  }

  .crunch {
    top: 50px;
    position: absolute;
right: 220px;
  }
  .nome {
    top: 105px;
    position: absolute;
right: 127px;
  }
  .foto1 {
    top: 160px;
    position: absolute;
right: 785px;
  }
  .lapis{
    top: 445px;
    position: absolute;
right: 1100px;
  }
  .lapis1{
    top: 528px;
    position: absolute;
right: 1100px;
  }
  .camera{
    top: 370px;
    position: absolute;
right: 980px;
  }
  .corpo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 82vh;
    flex-direction: column;
  }
  .input-group{
    position: relative;
    margin: 10px 0;
  }
  .input-group label{
    position: absolute;
    top: 60%;
    left: 5px;
    transform: translateY(-60%);
    font-size: 25px;
    color: #A300FF;
    padding: 0 5px;
    pointer-events: none;
    transition: .5s;
  }
  .input-group input{
    width: 340px;
    height: 60px;
    font-size: 25px;
    color: #A300FF;
    background: transparent;
    border: 1.2px solid #A300FF;
    outline:none;
    border-radius: 10px;
  }
.input-group input:focus~label,
.input-group input:valid~label{
    top: 0;
    font-size: 18px;
    background: #fff;

}