@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

.body{ height: 100px;

}
.rodape ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 4;
}
.rodape ul li {
    margin: 0 140px;

}

.rodape{
  background: linear-gradient(180deg, #FF8652 0%,#A300FF 100%);
    color: white;
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: helvetica;
    position: absolute;
    bottom: -90%;
    left: 0%;
    right: 0%;
    padding: 0px;
}
.rodape a{
    text-decoration: none;
    color: white;
}
.rodape p{
    margin-bottom: 5px;
}
.rodape-div{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
    display: flex;
    width: calc(100% / 4 - 20px);
    padding: 10px;
}
.rodape span{
    font-size: 20px;
    color: white;
}
.rodape-direitos{
    width: calc(100% - 20px);
    background-color: black;
    padding: 10px;
    margin: 0px;
    text-align: center;
}
@media (max-width: 768px) {
    .rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
        width: calc(50% - 20px);
        padding: 10px;
    }
    .rodape-div{
        padding: 60px 0px 40px 0px;
    }
}

.Logo{ margin-top: -15px;
    position: absolute;
left: 20px;}
.foto {
    top: 20px;
    border-radius: 100%;
    background-size: 100% 100%;
    position: absolute;
right: 100px;
  }

  .nome {
    top: 120px;
    position: absolute;
right: 85px;
color: white;
font-size: 20px;
  }
  .crunch {
    top: 40px;
    position: absolute;
right: 220px;
transition: 1s;
  }
  .foto1 {
    top: 200px;
    position: absolute;
right: 785px;
  }
  .lapis{
    top: 445px;
    position: absolute;
right: 1100px;
  }
  .lapis1{
    top: 528px;
    position: absolute;
right: 1100px;
  }
  .camera{
    top: 370px;
    position: absolute;
right: 980px;
  }
  .corpo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 82vh;
    flex-direction: column;
    position: absolute;
  }
  .input-group{
    position: relative;
    top: -150px;
    left: 125px;
    margin: 10px 0;
  }
  .input-group label{
    position: absolute;
    top: 60%;
    left: 5px;
    transform: translateY(-60%);
    font-size: 25px;
    color: #A300FF;
    padding: 0 5px;
    pointer-events: none;
    transition: .5s;
  }
  .input-group input{
    width: 630px;
    height: 80px;
    font-size: 25px;
    color: #A300FF;
    background: transparent;
    border: 1.2px solid #A300FF;
    outline:none;
    border-radius: 10px;
  }
.input-group input:focus~label,
.input-group input:valid~label{
    top: 0;
    font-size: 18px;
    background: #fff;

}


.container {
    width: 500px;
    height: 300px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
.texto{
    position: absolute;
top: 1070px;
left: 1170px;
    color: #A300FF;
}
.texto1{
    position: absolute;
    top: 1110px;
font-size: 30px;
    color: #A300FF;
    left: 45%;
    width: 680px;
    height: 300px;
}
.texto2{
  position: absolute;
  top: 1250px;
  left: 1070px;
  color: #A300FF;
  width: 350px;
  height: 300px;
}

.corpo1{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: fit-content;
  flex-direction: column;
}
.input-grop{
  position: relative;
  margin: 10px 0;
  top: 200px;
  left: -80px;
}
.input-grop label{
  position: absolute;
  top: 55%;
  left: 5px;
  transform: translateY(-60%);
  font-size: 25px;
  color: #A300FF;
  padding: 0 5px;
  pointer-events: none;
  transition: .5s;
}
.input-grop input{
  width: 640px;
  height: 80px;
  font-size: 25px;
  color: #A300FF;
  background: transparent;
  border: 1.2px solid #A300FF;
  outline:none;
  border-radius: 10px;
}
.input-grop input:focus~label,
.input-grop input:valid~label{
  top: 0;
  font-size: 18px;
  background: #fff;

}

select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border:0!important;
  background: #5c1f99;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color:#fff;
  cursor:pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 10em;
  height: 3em;
  line-height: 3;
  background: #fff;
  overflow: hidden;
  border-radius: .25em;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: rgb(48, 3, 61);
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
.select:hover::after {
  color: #A300FF;
}

.barinha{
  position: absolute;
  left: 1360px;
  top: 750px;
  
}
.ajuste{
background-color: rgb(255, 255, 255);
align-items: center;
justify-content: center;
width: 79.65%;
margin-left: 400px;
height: 1447px;
border: 0px;
border-color: gray;


}
.ajuste ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0; }

/*https://www.flaticon.com/free-icon/camera_685655?term=photo&page=1&position=1&related_item_id=685655*/

input[type='file'] {
  display: none;
}

.largura2 {
  max-width: 500px;
  width: 100%;
}

#imgPhoto {
  margin-top: -25%;
  margin-left: 200px;
  width: 500px;
  height: 500px;
  background-color: #eee;
  border: 5px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s;
  position: absolute;
}

#imgPhoto:hover{
  background-color: rgb(180, 180, 180);
  border: 5px solid #111;
}
.configurar{width: 430px;
height: 1443px;
background-color: #F8F8F8;
position: absolute;
border: 0;
top: 151px;
color: #F8F8F8;}

 #ARRANJADO{
  align-items: center;
  justify-content: center;  
  height: 300px;
  text-align: center;
  border: 0px;
  font-size: 60px;
  width: 430px;
  transition: 1s;
  background-color: #F8F8F8;
 }
.perfil-btn{
  margin-top: 90px;
}
#perfil-text{
 margin-top: 100px;
 color: gray;
}

#perfil-text:hover{
  color: rgb(104, 104, 104);
}
  
#ARRANJADO:hover{
    background-color: #dfdfdf;
    zoom: 1;
    transition: 0.5s;
}
#ARRANJADO a{
  text-decoration: none;
  color: white;
}